*.mo

.idea/

build/
build_fr/

cuspy/__pycache__/

cuspy.egg-info/

dist/

sphinx-doc/build
sphinx-doc/source/pyplots/pest*
sphinx-doc/source/pyplots/mc_uncert_temp.txt
sphinx-doc/source/pyplots/meteo.txt
sphinx-doc/source/pyplots/meteo_t1_5.csv
sphinx-doc/source/pyplots/obs.txt
sphinx-doc/source/pyplots/output.txt
sphinx-doc/source/pyplots/par.tpl
sphinx-doc/source/pyplots/par_data.csv
sphinx-doc/source/pyplots/pred.txt
sphinx-doc/source/pyplots/pred6.txt
sphinx-doc/source/pyplots/res_file.ins
sphinx-doc/source/pyplots/res_file6.ins
sphinx-doc/source/pyplots/sweep_in.csv
sphinx-doc/source/pyplots/sweep_in4c.csv
sphinx-doc/source/pyplots/sweep_out.csv
sphinx-doc/source/pyplots/sweep_out4c.csv
sphinx-doc/source/pyplots/tributary.txt

tests/test?/

pestpp/

